[2012-10-11 21:35] gromer opened #1 "ToExpressionNode Extension method breaks in some cases"
Exception details:

[code]

Code to duplicate:

[code]

[code]

The line of code that breaks is `var node2 = expression2.ToExpressionNode();`.  Obviously, the reason is the `ids.Contains(mt.Id)` in the expression I made.  I would love to be able to use `.Contains` in my expressions, but understand there's a lot going on in this library.

Thanks!

[2012-10-11 23:09] #1 closed, assigned to nobody

[2012-11-14 04:08] Doug-R opened #2 "expressions with conjunctions fail after binary serialization"
This failing test is similar to the SerializeDeserializeBinaryTest.   It illustrates an issue that I have encountered after serializing an expression with a conjunction using WCF datacontract serialization.   The lambda expression compile method succeeds before the serialization but not after.  The lambda expression compile method error is similar to the error I receive after WCF datacontract seri

[2012-11-15 05:24] Doug-R opened #3 "the binary operator LessThan is not defined for the types int32 and nullable int32"
ExpressionNode.ToExpression fails with an InvalidOperationException when comparing an int to a nullable int.  Below is a test for this.   Making p.Id a nullable int and the parameter an int also fails.

 [TestMethod]
        public void SerializeDeserializeBinaryIntToParameterNullableIntComparisonTest()
        {
            foreach (var binSerializer in CreateBinarySerializers())
            {

[2012-11-15 10:33] #2 closed, assigned to nobody

[2012-11-26 23:57] #3 closed, assigned to nobody

[2012-12-19 14:19] vcaraulean opened #4 "Change type of expression when deserializing"
Scenario:
- expression is built based on DTO type
- DTO has same shape as entity (or is a subset of entity properties)
- DTO is sent to the server

Now I want to deserialize expression and have the func executed over the my domain entity.

I got it working with serializing to json and doing a
    string.Replace(typeof(DTO).FullName, typeof(Entity).FullName)

Is it the only way to achieve it?
Any p

[2013-01-03 13:13] ghost opened #5 "CS0534 / ExpressionNodeOfLambdaExpressionQsd8_SODT"

[2013-01-05 16:26] #5 closed, assigned to esskar

[2013-01-07 23:34] #4 closed, assigned to esskar

[2013-01-31 10:33] vcaraulean opened #6 "NullReferenceException when deserializing expression with constant Guid"
I'll look into it, but may be you'll spot the problem faster...

A test:

[code]

Stack trace:

[code]

[2013-02-01 12:38] #6 closed, assigned to nobody

[2013-02-06 08:49] vcaraulean opened #8 "Deserializing expression with constant DateTime using JsonSerializer"
It's more FYI than a real issue as I feel that's the problem of JsonSerializer and more precisely of NetDataContractJsonSerializer so it cannot be easily fixed. If so, just close this issue, it will remain here as a  'FYI' or for further reference.

The test:

[code]

Test is failing at deserialization. Failure details:

[code]

Two other serializers, XML and Binary, are passing this test.

[2013-02-06 19:49] #8 closed, assigned to nobody

[2013-04-06 18:10] DGolubets opened #9 "Nullable<Decimal> deserialization issue"
Hi!
I found one little bug with JSON deserialization of Nullable<Decimal> type.
When created without a floating point, e.g. 0m, Decimal is serialized without it too. Then deserializer thinks it is Int32 and fails to find corresponding constructor on Nullable<Decimal>.

An example of code that fails:

[code]

There is an easy workaround for now, thanks to ValueConverter:

[code]

[2013-04-06 21:56] #9 closed, assigned to esskar

[2013-04-09 14:47] jogibear9988 opened #10 "Licence"
Would it be possible to change the Licence to LGPL, so the Library can also be used in closed source Applications?

[2013-04-09 16:05] #10 closed, assigned to nobody

[2013-04-09 17:27] jogibear9988 opened #12 "Use deserialized Expression against IQueryable..."
I have One Question, maybe yu can Help me:

I have this on the Client Side:

[code]

and on the Server side I have a IQueryable List of ImageDTO Objects. Is it possible to run the Expression against this List??

[2013-04-12 12:24] #12 closed, assigned to nobody

[2013-04-29 15:29] chandrush opened #13 "At NuGet version 4.0 and 4.5 both built under 4.5"
At NuGet version 4.0  and 4.5 both built under 4.5.

[2013-05-01 17:34] vsoldatkin opened #14 "PublicInstancePropertiesAssert.AreEqual method is implemented and used incorrectly"
I've stumbled upon this issue while investigating TypeBinaryExpressionNode serialization bug. ExpressionNode tests don't work at all due to the wrong implementation of PublicInstancePropertiesAssert.AreEqual helper method.

There are a couple of issues with this method:
1. It only looks into the one level of properties, while expression trees may consist of multiple levels of nodes (e.g. binary ex

[2013-05-01 17:34] vsoldatkin opened #15 "TypeBinaryExpression serialization/deserialization bug"
TypeBinaryExpressionNode is serialized incorrectly: TypeOperand field is missing. Deserialization is also performed incorrectly: TypeBinaryExpression instance is constructed using wrong type as a second parameter (expression result type is used instead of TypeOperand).

There is a test method for this case (SimpleTypeBinaryTest) which doesn't work well. It is always passed regardless of the bug. T

[2013-05-01 21:21] #14 closed, assigned to nobody

[2013-05-01 21:23] #15 closed, assigned to nobody

[2013-05-10 10:57] #13 closed, assigned to nobody

[2013-05-16 08:02] artemnf opened #17 "StackOverflow exception when trying to serialize an instance of ListInitExpression"
Library throws StackOverfloweException when trying to serialize an instance of ListInitExpression or an expression containing ListInitExpression

[2013-05-16 08:49] #17 closed, assigned to nobody

[2013-05-21 09:03] artemnf opened #19 "MemberExpressionNode base on ParameterExpressionNode whose type is generic, cannot be converted to Expression"
An example:

myQueryable
                .GroupBy(row => row["ZONE"])
                .Select(g => new ReportResultRow { { "NewZone", g.Key }, { "Count", g.Count() } });

When deserializing MemberExpressionNode "g.Key" we will have an exception that parameter g (whose type is generic IGrouping) does not have a member Key of exprected type

[2013-05-21 10:01] #19 closed, assigned to nobody

[2013-05-22 17:00] LawnMeower opened #21 "Can you mark the *Node classes as serializable"
Can you mark the *Node classes as [Serializable]? That will allow to use them in the Binary Formatter, for example in ,NET Remoting.

I've tried this with local sources and it works pretty well.

P.S.
Factory that you have in base node class needs to be marked as [NonSerialized]

[2013-05-22 17:58] #21 closed, assigned to nobody

[2013-07-12 13:16] zapov opened #22 "License issue"
GPL requires that every file in your project has a license preamble.

So I guess you can add license to every file or change it to something saner (like BSD) :)

Regards,
Rikard

[2013-07-22 02:12] lmagyar opened #23 "svcutil compatibility and minor bugs"
First, thank you for this great library! It's really terrific!!!

In ConditionalExpressionNode.cs the attribute
[DataMember(EmitDefaultValue = false, Name = "T")] on property
public ExpressionNode Test { get; set; }
conflicts with the same attribute on property ExpressionNode.Type.
Eg. ...Name = "C" as "Condition" could be a solution.

In PropertyInfoNodes.cs there is a
# if SERIALIZE_LINQ_WITH_LO

[2013-07-23 18:46] #22 closed, assigned to nobody

[2013-07-23 21:13] #23 closed, assigned to nobody

[2013-08-08 11:20] waryhermit opened #25 "SerializationExeption - Simple DateTime expression."
This expression {(left.DayOfWeek == Monday)} will give an exception:

"Type 'System.DayOfWeek' with data contract name 'DayOfWeek:http://schemas.datacontract.org/2004/07/System' is not expected. Consider using a DataContractResolver or add any types not known statically to the list of known types - for example, by using the KnownTypeAttribute attribute or by adding them to the list of known types

[2013-08-12 21:54] #25 closed, assigned to nobody

[2013-09-11 11:49] david-durrleman opened #26 "Bug when creating structs"
Hi,

I stumbled upon a problem when trying to generate an `ExpressionNode` for an expression which creates a struct. Here's an example:

[code]

The problem seems to be in `NewExpressionNode.cs`, I assume wanted to cover this case by checking for `this.Constructor == null` but actually it can never be `null`.

[2013-09-11 18:13] #26 closed, assigned to esskar

[2013-10-07 08:29] robert-gazsi opened #27 "WCF client proxy compile error"
Thanks for the great work!

There is a problem when I try to use the library on a WCF client.
I have added a reference to the library in both the WCF server and client, but still, I get 14 compile errors on the generated WCF client proxy class in Reference.cs, all similar to this: ...ExpressionNodeOfNewExpressionQsd8_SODT does not implement inherited abstract member 'Serialize.Linq.Nodes.Expressio

[2013-10-21 13:59] siegeon opened #28 "Serialize and deserialize anonymous types"
Much like the process used to project dto's from their source type I would like to be able to project anonymous types over the wire (wcf) and process the expression in the select portion of my query against the data source. I am having trouble deserialize the expression on the server.

![screenshot_1](https://f.cloud.github.com/assets/5737831/1372842/f3cd77ae-3a58-11e3-8f0f-54aa3b92fe28.png)

[2014-01-09 11:22] mrajanikanth opened #29 "Nuget package issue"
When I used nuget package, I could serialize below expression but deserialize is failing:

ExpressionSerializer es = new ExpressionSerializer(new JsonSerializer());
Expression<Func<IEnumerable<Product>, double>> avg = (ps) => ps.Average(p => p.Price);
string serializedText = es.SerializeText(count);
Expression<Func<IEnumerable<Product>, double>> expressionDeserialized = (Expression<Func<IEnumerabl

[2014-02-06 18:10] #29 closed, assigned to esskar

[2014-05-13 10:00] realbart opened #30 "Closures with nulllables do not get serialized correctly."
Closures with nulllables loose do not get serialized correctly. The implicit conversion to nullable is dropped, so when attempting to deserialize an exception occurs.

this fails with not equal:

[code]

This fails with an exception:

[code]

[2014-05-13 11:44] #28 closed, assigned to esskar

[2014-05-13 13:07] realbart opened #31 "Serializing an expression conaining Enums results in an SerializatonException"
When an expression references contains an enum variable, serialization throws a SerializationException. This is illustrated by this unit test:

[code]

n.b.
If the enum is referenced inline, everything works:

[code]

[2014-05-13 13:13] #30 closed, assigned to nobody

[2014-05-15 21:18] #31 closed, assigned to nobody

[2014-05-22 09:45] #27 closed, assigned to esskar

[2014-05-23 22:29] olibanjoli opened #32 "NuGet package not build with latest source"
Would be great if you could update the nuget package. Currently the latest does not have AddKnownTypes() for eg. on the Serializers from SerializerBase.

Cheers

[2014-06-06 14:48] Bills19 opened #33 "WebAPI ExpressionNode NULL"
Hi esskar! Here my code that you asked for in the blog:

[code]

Returns this JSON:

[code]

Looks good so far. And the i send that into:

[code]

Any ideas why expressionNode is null?

//Billy

[2014-06-18 06:40] #33 closed, assigned to esskar

[2014-06-22 22:52] realbart opened #34 "Deerializing an expression conaining a UTC Date results in an Exception"
regular dates serialize into something like Date(123123123123+0100).
UTC dates (like DateTime.UtcNow) serialize into something like Date(123123123123).

This can be fixed by changing the regular expression in ValueConverter.cs to:

[code]
# if !SILVERLIGHT

[code]
# endif

[code]

Unit test:

[code]

[2014-06-23 07:52] #34 closed, assigned to nobody

[2014-07-28 14:25] kehundley-fadv opened #35 ""let" in an expression is throwing an exception during serialization"
I was getting an exception on code similar to:

[code]

The exception is:

[code]

The issue is related to the code:

[code]

and I believe the problem arises from the fact that it's trying to get a value from a Parameter but the parameter has no value until it's executed

I updated the code to:

[code]

and this appears to have fixed the issue in all the scenarios I have run

[2014-07-29 12:29] #35 closed, assigned to esskar

[2014-08-19 16:27] exalted opened #36 "Compare to Remote Linq project"
Hi,

I would like know how this is compared to http://remotelinq.codeplex.com/ please?

Thank you.

[2014-08-25 13:07] #36 closed, assigned to nobody

[2014-09-25 13:55] #32 closed, assigned to esskar

[2014-12-03 14:47] yangmail2002 opened #37 "How Can I .Deserialize Expression<Func<T, dynamic>>"
I have a Expression :
     Expression<Func<T, dynamic>> exp=s => new { s.Name, s.ProductCategoryID }
serialize it to string . But When I deserialize this string ,it retun null with error " 序列不包含任何匹配元素"
     The seialize string is  QA5FeHByZXNzaW9uTm9kZS4EdHlwZZgUTGFtYmRhRXhwcmVzc2lvbk5vZGUIPGh0dHA6Ly9zY2hlbWFzLmRhdGFjb250cmFjdC5vcmcvMjAwNC8wNy9TZXJpYWxpemUuTGlucS5Ob2RlcwkBaSlodHRwOi8vd3d3LnczLm9yZ

[2014-12-05 14:07] #37 closed, assigned to nobody

[2015-01-13 09:38] syedhasanraza opened #38 "Does not work with related objects"
Hi,
My objective is to serialize Expression Trees. The library works as a charm when we write expressions on an object, but when we add expression for a related IQueryable() object, we get "Expression not allowed" exception.

for e.g. We have following classes

        public class Order
        {
            public virtual int Id { get; set; }
            public virtual int qty { get; set; }

[2015-01-13 10:41] esskar commented on #38
IQueryAble is not supported. Why do you think, you need to convert it to IQueryable here?

[2015-01-13 11:07] syedhasanraza commented on #38
Actually I want to serialize expression having queries on related objects. The expression " x => x.Id > 0 && x.Id < 5" is provided just for example, however in actual project I am using generic class to build Dynamic expression, passing only filter values etc.

So, in order to query on related ICollection object, i have to convert it to AsQueryable() before passing the filter predicate, containing

[2015-01-13 13:44] esskar commented on #38
i commited something. can you please use the current github version to run your tests?

[2015-01-14 06:50] syedhasanraza commented on #38
I tested, and it worked perfectly fine :+1:

[2015-01-14 09:30] #38 closed

[2015-01-14 09:36] syedhasanraza commented on #38
Are you going to release a new version on nuget?

[2015-01-14 09:42] esskar commented on #38
yes, i will try to do it until the end of the week!

[2015-01-23 11:54] syedhasanraza commented on #38
Still waiting for new version on nuget?

[2015-01-24 12:53] esskar commented on #38
pushed!

[2015-02-05 22:33] bitaxis opened #39 "Sequence contains more than one matching element"
I am using version 1.2.1 of Serialize.Linq.  When I try the following construct, calling ```ToExpressionNode()``` causes an ```InvalidOperationException``` to be thrown:

[code]
The error message is:

[code]

The relevant stack trace is provided below.  However, note that if I remove the ```dp.Timestamp < feb15``` condition from the expression, then calling ```ToExpressionNode()``` works just fine

[2015-02-06 01:38] bitaxis commented on #39
Funny thing is, if I just change the names of the variables, it works.  What gives???

[code]

[2015-02-06 02:48] bitaxis commented on #39
Okay.  Going back to the original snippet.  The reason it didn't work is because ```feb1``` is a substring of ```feb15```.  Even if I were to rename ```feb1``` to ```eb1```, it would still cause the exception to occur.  That is why renaming the two variables to ```start``` and ```end``` worked.

[code]

Weird, eh?

[2015-02-06 08:14] #39 closed

[2015-02-06 08:16] esskar commented on #39
will try to publish 1.2.2 asap

[2015-02-07 17:54] bitaxis commented on #39
Thanks for the quick turnaround.  Looking forward to seeing 1.2.2 released.

[2015-02-10 13:08] vsoldatkin opened #41 "Processing Linq expressions may cause exceptions"
Somehow, I experience a couple of tests failing.

It occures when a Linq expression is processed:
[code]
"Where" predicate is pushed into an anonymous class by a compiler, and finally ExpressionContext.ResolveType may find a wrong anonymous class (from another assembly for example) and fail to procceed further due to the mismatch.

[2015-02-10 13:12] vsoldatkin commented on #41
I tried to provide a couple of reliable test cases for the issue.
Please could you confirm that the issue occures on these cases in your environment as well?

[2015-02-10 22:38] esskar commented on #41
it is actually strange.
for me, it finds the declaring type that is somehow defined here
https://github.com/esskar/Serialize.Linq/blob/master/src/Serialize.Linq.Tests/Internals/SerializerTestData.cs#L54

but that looks wrong because the type is retieved from an expression member and is not guessed or similar

[2015-02-11 07:34] vsoldatkin commented on #41
Exactly.
It seems this linq expression requires an f__AnonymousType0``2, which is essentially a
[code]
and is probably used in "where" comparison.

The problem is there may be a lot of similar types (f__AnonymousType0``2, f__AnonymousType1``2, etc) in other assemblies. So a naming collision is very probable.

The collision takes effect in the loop https://github.com/esskar/Serialize.Linq/blob/mast

[2015-02-11 08:14] esskar commented on #41
I think i fixed it with this c18f90333905eb02b00881d005668b27a9adabac commit.
Can you have a look and retest your stuff please?

[2015-02-11 08:36] vsoldatkin commented on #41
Seems ok to me.
Thank you.

[2015-02-11 08:41] #41 closed

[2015-02-11 11:51] esskar commented on #39
I just published version 1.2.2.

[2015-02-11 11:52] esskar commented on #41
I just published version 1.2.2. I owe you a beer!

[2015-02-11 15:57] lovemyselfbest opened #43 "ToExpressionNode method causes "stack overflow" exception."
I have a expression,it contains 800 boolean expessions, when I invoke ToExpressionNode method,the visual studio gives a "stack overflow " exception. pls help me,thanks.

ExpressionBool.ToString()
"x => ((x.Account == \"799\") OrElse ((x.Account == \"798\") OrElse ((x.Account == \"797\") OrElse ((x.Account == \"796\") OrElse ((x.Account == \"795\") OrElse ((x.Account == \"794\") OrElse ((x.Account

[2015-02-12 07:26] vsoldatkin commented on #43
Could you please attach a code snippet representing your expression?

I doubt there will be an easy fix for this though. This behavior is actually expectable.

[2015-02-13 11:46] esskar commented on #43
as @vsoldatkin stated: we need the original expression that causes that error.
But it looks like you should rethink your expression
`x.Account >= 799 && x.Account <= 0` seems to be an alternative here

[2015-02-14 02:14] lovemyselfbest commented on #43
@vsoldatkin  @esskar , thanks for reply.
     I have a collection, the collection could contain guid or string or something else type data , for example,
x=>collection.contain(x.Id) , I want to send this expression from asp.net mvc client to wcf server, so i need serialize this expression, but collection cannot pass to server, so I modify it to x.Id=='constant value1 from collection' || x.Id=="**"

[2015-02-14 13:37] esskar commented on #43
not sure if i want to support this.
i am build the expression tree using recursion, to change it, i would need to build my own stack; i have to evaluate if it is worth it

[2015-02-14 13:49] esskar commented on #43
idea: special collections that where the values get serialized when used in expressions!?

[2015-02-15 01:24] bitaxis commented on #39
Yay!

[2015-02-18 06:22] bitaxis opened #44 "Version Mismatch"
Is there a way to relax or for me to override version checking behavior on the DTO assembly when de-serializing?  I have a client that uses a slightly different version of the DTO than the server.  They are completely compatible, but when ```Serialize.Linq``` is being invoked on the server-side, it complains about not being able to find the DTO assembly due to version number difference.

Thanks fo

[2015-02-18 06:38] esskar commented on #44
hi. not that i am aware of. due you have the stack trace? i will try to analyse.

[2015-02-18 06:51] bitaxis commented on #44
@esskar Here's an exemplar stack trace.  The one client application is compiled, for example, with version 1.2.3.0 of the DTO assembly.  The server, on the other hand is compiled with version 1.2.4.0 of the same.  The DTO assembly is signed, but not sure if it makes any difference.

[code]

[2015-02-18 06:53] vsoldatkin commented on #43
There is a quick method to linearize the algorithm by spawning Tasks in NodeFactory.Create. It adds a huge overhead without asyncs and a not-so-huge overhead using asyncs. But the latter is incompatible with SL version. I've implemented it as a proof of concept. See vsoldatkin/Serialize.Linq@c2ebe744e17a343af137d302a7ed3e9297bbe5e3

I'm afraid it might be neccessary to finally redesign the algorit

[2015-02-18 07:01] vsoldatkin commented on #44
Seems like this is what @esskar exactly tried to avoid, i.e. picking wrong types with the same names. I mean how can we assure without a complex introspection that your DTO lib actually contains compatible types?

[2015-02-18 08:18] esskar commented on #43
Thanks for that.
Yet i thought about a new NodeFactoy implementation, but i was to busy to actually do it.
Maybe on the weekend.

[2015-02-19 22:12] bitaxis commented on #44
@vsoldatkin @esskar Using the sample code provided as part of Serialize.Linq for discussion, I think the answer to my question lies in how ```WcfContracts``` is versioned.  That is, if I need to makes changes to ```WcfContracts```, as long as the changes are backwards compatible, then I can maintain the same ```AssemblyVersion``` number while bumping up the ```AssemblyFileVersion``` number.  That

[2015-02-19 23:19] esskar commented on #44
idea: when the type to serialize is from an anonymous class, we use the full qualified name, otherwise we stick to type.Fullname

how does that sound?

[2015-02-20 05:49] bitaxis commented on #44
@esskar I think the way it is now is fine.  What I ended up doing is implement two dictionaries I pre-populate.  One is ```Dictionary<Type, Type>```, which I use to look up the type to return using the non-null return value of ```base.ResolveType()``` as key.  Otherwise, I use the second, which is ```Dictionary<Regex, Type>```, and I run ```node.Name``` through all keys and taking the first match.

[2015-02-20 08:05] vsoldatkin commented on #44
Personally I don't like the idea of FullName based type guessing in any form. I'm pretty sure I'll be able to forge a test case to break it.

I would rather stick to the safe FQN-based implementation and provide an extension point for a user to implement his own unsafe ExpressionContext (specifically his own ResolveType implementation).

The only safe way is to share a DTO assembly. Otherwise it f

[2015-02-20 12:19] Odeanathus opened #45 "Serialization over NServiceBus; System.MemberAccessException: Cannot create an abstract class."
This might ben more of an issue in NServiceBus than in Serialize.Linq, not entirely sure but I'll post it here regardless.

When attempting to make a call over NServiceBus where we've created a Message with in it a Property of the type ExpressionNode the message seems to get serialized perfectly fine. However on the service end when Deserializing we get the following exception;

ERROR NServiceBus.

[2015-02-20 13:32] Odeanathus commented on #45
Spend some more time looking and poking and I think it has too do with NServiceBus using it's own serializer; http://docs.particular.net/nservicebus/performance

Which seems to not be able serialize/deserialize this properly :-(

Think I need to slap them around or fix this myself with some work arounds.

[2015-02-20 13:32] #45 closed

[2015-02-20 13:44] esskar commented on #45
Fun to see that Serialize.Linq is used in various projects!

[2015-02-20 13:47] Odeanathus commented on #45
Yes well, it's pretty lightweight and to the point. It does not add bells and whistles and allows us to do further implementation, since currently I don't want to add a WCF service or do anything like OData.

FYI, Currently I'm writting a wrapper class that will simply serialize/deserialze to string on both ends. It's not super clean or neat but it'll work I think.

[2015-02-23 14:20] Odeanathus opened #46 "SerializationContext lacking"
Not sure if this would count as an issue or maybe it's more of a feature request or the likes (I'm no github guru so I might be doing something wrong here).

But basically what we're doing (as you might have guesed from my previous 'issue') is serializing an expression and then we're sending this string through NServiceBus and deserializing it. What I'm lacking at the moment is a ExpressionContext

[2015-02-23 14:30] Odeanathus commented on #46
Actually, the way I'm solving it now isn't all that bad, I simply use the JsonSerializer Deserialize<ExpressionNode>() method to serialize it as an ExpressionNode and then I call .ToExpression with the actual context. It's more work then needed (and I still need to test it) but it's not as bad as calling .ToExpressioNode().ToExpression(ExpressionContext);

[2015-02-24 06:55] vsoldatkin commented on #46
I think it worth a try and may actually be considered as an improvement proposal related to #44

[2015-02-24 11:45] esskar commented on #46
is adding ExpressionContext enough? or am I missing something?

[2015-02-24 13:18] Odeanathus commented on #46
You are not missing anything, just adding that overload is enough. It's nothing major (as I manage to work around it in a nice way due to just beeing able to use the JsonSerializer) but it's a minor change that could add some confinience for others (and myself :-D)

[2015-02-24 13:18] #46 closed

[2015-02-24 13:27] esskar commented on #46
glad, it is so simple ;)

[2015-02-24 13:34] esskar commented on #45
can you configure the serialization? If they use Json.NET for example, you could set `TypeNameHandling = TypeNameHandling.Objects`, and solve the problem

[2015-02-24 14:18] Odeanathus commented on #45
I can, but then I'd need to implement a different serializer for the whole servicebus which I do not want (their serializer is actually really fast).

I've solved it differently, same with the orderby by simply serializing those manually to string and then manually deserializing.

It's a pretty neat little solution this way I feel.

[2015-03-28 15:59] MDR-DEV-GIT commented on #43
Wouldn't it perhaps be better (both architecturally and as a feature that benefits more than the fringe 800 expression case) to instead support a .WhereIn()/IndexOf().

Or perhaps (if not) supported (otherwise encourage usage of)  an expression similar to (from n in p where (from o in list select o).Contains(n.prop) select n);

[2015-05-19 14:33] yangmail2002 opened #47 "每当运行一定时间后，该主件不能正常工作"
我部署的系统是Win2008R2 64位，
当系统运行一段时间后，会发现，有时间seiralize.linq运行不正确。不知道是为什么。

[2015-05-19 14:35] esskar commented on #47
I dont speak your language!

[2015-05-26 09:02] MichelZ opened #48 "Assembly Version .NET45"
Hi

In the NuGet Package, the assembly version for the .NET4.5 package is 1.2.2.0 instead of 1.2.3.0...
Could you correct that?

Thanks
Michel

[2015-06-02 10:43] AmitGee commented on #48
Ditto - assembly versions should be the same between net40 and net45 since it causes issues when used with solutions containing a mix of projects targeting different versions

[2015-06-08 19:38] #47 closed

[2015-06-08 19:40] #44 closed

[2015-06-08 20:30] esskar commented on #48
fixed with nuget version 1.2.4

[2015-06-08 20:30] #48 closed

[2015-06-10 14:26] Odeanathus opened #49 "Inheritance Deserialization"
Three objects, base class named, Debtor (abstract which has a few properties one being Id), IndividualDebtor & CompanyDebtor which inherit from the Debtor class.

I can serialize and deserialize the object(s) just fine untill I start filtering based on a property from the base class, in my case Id.

I get the following exception;

An exception of type 'System.ArgumentException' occurred in System.

[2015-06-10 15:53] esskar commented on #49
can you provide a unit test that fails?

[2015-06-10 17:00] Odeanathus commented on #49
I'll try and whip one together tomorrow, any prefered way of getting it? (Should I just zip it all and upload it somewhere or would you like a 'wall of text' here :-) Assuming I can get it to fail in a small unit test. (It's failing in my system integration tests atm).

[2015-06-11 07:03] Odeanathus commented on #49
I've found the problem, which isn't actually in Serialize.Linq but in an example we use that you posted on your blog in the past, since your blog seems down here is the web archive link;

http://web.archive.org/web/20130430051839/http://blog.esskar.de/articles/2013/1/serialize_linq_dto_and_business.html

You mention the following snippet which we used to great success in the past (before we had a

[2015-06-11 07:03] #49 closed

[2015-06-11 20:11] esskar commented on #43
i started a new branch for that (https://github.com/esskar/Serialize.Linq/tree/feature/non_recursive). the idea works, but some unit tests are borked

[2015-06-24 14:55] squarewave24 opened #50 "serialization issues"
This is a great utility and i'd love to make it work for me.

My first test was this simple predicate

[code]
if arr is List<string> I was getting a ton of issues complaining about serialization of List<string> and ArrayOfString.

I noticed that I can do this

[code]

whenever I tried adding List<string> as a known type it would always complain that it either exists, or there was a conflict with L

[2015-06-24 16:06] esskar commented on #50
Before I explain, i have a question: what is your expected output after deserialization?

[2015-06-24 16:57] squarewave24 commented on #50
hey thanks for quick reply

2 use cases i can think of that would be useful for me:

1. ability to serialize a predicate over WCF to be deserialized on the server for actual EF query
2. log what is being sent

in both cases the contents of the array are important. perhaps there is another way to do a "Where X in" predicate that makes more sense?

[2015-06-24 20:47] esskar commented on #50
Hi, contains are not shown, but the values are there.
if you navigate into the expression three, you will see that the values are actually bound.
i added some tests to proove it.

With Json:
https://github.com/esskar/Serialize.Linq/commit/05c8dfcf933e3b623f0f50b796df35699c330e21#diff-1f764cf1b5a7c3bb188739b8b49650b6R68

With Binary:
https://github.com/esskar/Serialize.Linq/commit/05c8dfcf933e3b623

[2015-06-24 20:48] #50 closed

[2015-06-24 20:50] squarewave24 commented on #50
hey thanks for explaining and the examples!

these look great

[2015-06-26 19:44] fir3pho3nixx opened #52 "link to blog is broken in README.md"
Hi, Tried clicking on it and it did not load. Would have liked to read your article :)

[2015-07-27 09:27] assafw opened #53 "Issue serializing collections inside expressions"
I grabbed the latest snapshot of the code (after seeing the addition of collection serialization)... could be that I misunderstood the usage model, but in any case:

I have a WCF service operation that looks like this:

[code]
I am trying to send the following expression to the service:

[code]

and get a nasty exception (detailed below). it looks like the Expression node is created OK with the ar

[2015-08-10 18:29] t-denis opened #54 "Private field access inside an expression"
If there is a private field access inside an expression, then the serialization fails: Sequence contains no matching element

[2015-08-26 21:57] mc-ren opened #56 "Collection serialization expression 'contains'"
So unless I am doing something wrong, this looks like it's the same issue assafw is seeing (#53 below). I have the following:

[code]

I get the error as follows:

`
Error converting type: Type 'System.Collections.Generic.List`1[[System.Nullable`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken

[2015-08-27 21:49] esskar commented on #53
You cannot use array's and list's together; it is not the fault of Serialize.Linq, it is how the DataContractor works.

Now, you have to specify on the server contract what you expect. See http://stackoverflow.com/a/13704745 for example how to do tha!

[2015-08-27 21:49] #53 closed

[2015-08-27 21:51] esskar commented on #56
Thanks for that. I fixed it. See Unit Test for your Issue: https://github.com/esskar/Serialize.Linq/blob/master/src/Serialize.Linq.Tests/Issues/Issue56.cs

[2015-08-27 21:51] #56 closed

[2015-08-27 21:51] esskar commented on #54
I am not sure if i want to support private fields, because they are private!
Have to think about it!

[2015-08-28 05:53] assafw commented on #53
Hi, thanks for replying!

I just tried it - it didn't work :( I also modified my contract and service to return concrete List<int> type instead of IEnumerable..

Here's what I did to my interface:

[code]

[2015-08-28 06:34] t-denis commented on #54
Consider the following scenario. The client builds the query against some stub data source, then the query is serialized and passed to the server. The server deserializes the query and applies it to the appropriate EF DbSet. From the client's prospective there is no difference if she uses a variable or a private field when she creates a Where clause:
[code]
But in one case everything works fine, i

[2015-09-01 06:59] esskar commented on #54
Ok, i made it optional. On Serialization-Side you need to pass FactorySettings with `AllowPrivateFieldAccess` set to `true`, on Deserialzation-Side you need to set that property on the `ExpressionContext`

[2015-09-01 06:59] #54 closed

[2015-09-01 07:18] t-denis commented on #54
Thank you. What do you think about providing two options:
1. Member should be read on serialization and replaced with a constant (for multi-tier scenarios)
2. Member should be read on runtime.
Is it worth the time?

[2015-09-01 18:56] esskar commented on #54
Don't get it. Can you explain in detail?

[2015-09-01 20:10] t-denis commented on #54
Lets assume we have an expression, that need to be serialized:
[code]
Right now the way that the expression is serialized depends on what 'lastName' is. If it is an instance field or a private static field, then the serialized expression will look like this (member access replaced with a constant):
[code]
If it is a public static field or a protected static field then the member access will be ser

[2015-09-09 12:07] gulbanana opened #61 "incorrect serialization of TypeBinaryExpression node"
Hi, I'm using Serialize.Linq on some weird expression trees and I've found a bug. This tree:
`{null.Where(entity => ((entity TypeEqual Farm) AndAlso Convert(entity.Animals).Any()}	`
deserializes as this non-equivalent tree:
`{null.Where(entity => ((entity Is Farm) AndAlso Convert(entity.Animals).Any()}`

The TypeEqual has become an Is, representing an assignability check instead of an equality che

[2015-09-12 17:21] esskar commented on #61
thanks for that. was not aware of it. merged it.

[2015-09-12 17:21] #61 closed

[2015-10-18 08:10] epsitec commented on #52
The blog http://blog.esskar.de is no longer online. What is the issue there? Do you need some support?

[2015-12-01 13:16] kinstya opened #66 "no strong name in net 4.5 version"
Hi, looks like a 4.5 version is not signed.
Is it intentional?

[2016-01-13 15:58] yhurynovich opened #67 ""ToMemberExpression" method is not implemented"
"ToMemberExpression()" method (similar to "ToBooleanExpression()") needed for using in Linq sort and select clauses.

[2016-01-13 19:39] esskar commented on #67
can you give me an example

[2016-04-01 12:10] marcelmunarolo opened #68 "Serialize from Expression to String. Using instances value in the predicate."
Dear Colleague,

Please, see this example:

    class MyEntity
    {
        public string Name { get; set; }
    }
...
            Expression<Func<MyEntity, bool>> where = x => x.Name == "Peter";
            var exp = where.ToExpressionNode().ToString();
            Console.WriteLine(exp);
...

The output is perfect, like this: "x => (x.Name == "Peter")"
However, if we change a little bit, the re

[2016-04-01 16:28] esskar commented on #68
Hey,

try it like this

    var settings = new FactorySettings
    {
        AllowPrivateFieldAccess = true
    };
    var serializer = new ExpressionSerializer(new JsonSerializer());
    var exp= serializer.SerializeText(where, settings);

[2016-04-01 17:51] marcelmunarolo commented on #68
Hey,

I tried your suggestion, and I received a SerializationException.
Message:
...
Consider using DataContractResolver or add some types not known statically to the list of known types - for example,
using KnownTypeAttribute attribute or by adding them to the list of known types passed to DataContractSerializer
...

Just for investigation, I added the Attribute in the Entity, like this:
[KnownTy

[2016-04-01 18:26] esskar commented on #68
ok. i will fix it.

[2016-04-01 19:10] esskar commented on #68
fixed. thanks for reporting! (y)

[2016-04-01 19:10] #68 closed

[2016-04-01 19:41] marcelmunarolo commented on #68
It works like a charm now!   :)
Many thanks!
I am looking forward the new nuget package!

[2016-04-06 09:22] v-yadli opened #69 "JsonSerializer: Exception is thrown on deserializing a date constant earlier than 1970/1/1"
- Repro:

[code]

The expression can be serialized, but throws expression on deserialization:

[code]

The json representation:

[code]

Note that the integral value of the date is negative. Possibly related to the UNIX epoch?

- Workaround

Use other serializers. I tested XmlSerializer and it works fine.

[2016-04-06 12:30] esskar commented on #69
Hi Yatao, thanks for that. I will look into it tonight.

[2016-04-06 20:57] esskar commented on #69
fixed. have fun!

[2016-04-06 20:57] #69 closed

[2016-04-07 14:39] v-yadli commented on #69
Thanks for your quick response!

[2016-04-18 10:44] MeirionHughes commented on #52
It would be nice to have a basic example of usage; I presume the blog; cache of blog is here: https://web.archive.org/web/20130220065551/http://blog.esskar.de/

[2016-04-18 20:10] esskar commented on #52
@MeirionHughes there is an example project

[2016-04-19 07:44] cryo75 opened #71 "Serialize expression when it is a property of a class?"
Would serialization of an expression work if the expression is a property of a class, which is in turn passed as a POST parameter, eg:

`public class MyObjectDto
    {
        public string MyField {get; set;}
        public Expression<Func<T, bool>> expression {get; set;}
    }
`

[2016-04-20 07:24] esskar commented on #71
Can you make a full example?

[2016-04-23 07:56] StefH opened #72 "Support for .net core and new project structure in VS2015"
Hi @esskar ; this library gives a perfect opportunity to convert to the new VS2015 (dnx/.net) core structure, so that you can have 1 project which just outputs .net 40, .net 45, sl and dnxcore50.

I'm willing to start on this, however do you have time (and do you want) to merge my forked project changes back to your project ?

Or should I just create a copy and totally fork away ?

See also my com

[2016-04-23 11:50] esskar commented on #72
Hey @StefH planed to do that soon.
Thanks and Cheers.

[2016-04-23 15:07] StefH commented on #72
See https://github.com/esskar/Serialize.Linq/pull/73

[2016-05-17 11:23] StefH commented on #72
Any update on this ?

Note that this pull-request is still based on dnx core, it needs some updates since the dotnet rc2 is out.

[2016-06-01 09:39] sgavriel commented on #66
I have the same problem :-(

[2016-06-02 09:33] kinstya commented on #66
Just did it on my self and it worked
On 1 Jun 2016 12:39 p.m., "sgavriel" <notifications@github.com> wrote:

[2016-06-02 09:47] sgavriel commented on #66
Yep, did that also. I used this:
https://brutaldev.com/post/NET-Assembly-Strong-Name-Signer

[2016-06-14 15:03] yhurynovich opened #74 "No support for derived interfaces"
Let's assume you are building expression against an interface Interface2 where Interface2:Interface1

ToBooleanExpression method will fail when attempting to reflect Interface1 interface properties.

NEED TO FLATTEN properties for reflection

[2016-06-15 10:30] esskar commented on #74
@yhurynovich Thanks. Can you build an unit test for that?

[2016-10-12 09:02] yesman022 opened #75 "Not support in portable class library"

[2016-12-22 10:35] EpsilonRepo opened #76 "ToExpressionNode serializing whole class"
Hi,

I'm passing an ExpressionNode object to my WCF service to make EF queries on the backend.
Everything works fine as long as I use constants or variables that are in the same scope.

example (GetSingleEntity calls ToExpressionNode() and passes the result to the service):
[code]

When the value2 variable is a foreach loop variable for instance, the ToExpressionNode() seems to serialize the whole

[2017-01-02 09:44] cSteusloff opened #77 "WCF Service Deserialize parameter failed"
I use a WCF Service and serialize my request with your library. The response from service call the following error Message in Reference.cs:

Complete german error message:

I have no idea to fix this issue. Is there a problem with **KnownType(typeof(MemberInfoNodeList))** in https://github.com/esskar/Serialize.Linq/blob/master/src/Serialize.Linq/Nodes/Node.cs ?

The stack trace:
`
System.Runtime.S

[2017-01-06 16:05] esskar commented on #77
hi. you generate the client using a service reference, right? The generation is wrong. I do not know why, but you basically need to edit it by hand.

[2017-02-18 19:02] #75 closed

[2017-08-16 18:01] Dini001 opened #81 "Problem serializing nullable member"
ToBooleanExpression() is not able to recreate de Expression when using a nullable member of a class

`var pc1 = new PropertyContainer();
pc1.Property1 = null;    //Nullable with null value`

Work when is local property
`Guid? property1 = pc1.Property1;
Expression<Func<Guid, bool>> fonction1 = x => property1 != null && x != property1;
var ExpressionNode1 = fonction1.ToExpressionNode();
ExpressionNo

[2017-08-17 15:53] esskar commented on #81
thanks. i will have a look at it asap

[2017-08-18 08:23] esskar commented on #81
the issue is fixed with the last checkin; will publish a new version later the day.

[2017-08-20 13:51] esskar commented on #81
New version is published
https://www.nuget.org/packages/Serialize.Linq/1.3.1.1

[2017-08-20 13:51] #81 closed

[2017-09-03 14:50] artemkuzmyk opened #83 "ConstantExpressionNode deserialization error"
If I use some lambda with constant type != string after deserialization  ConstantExpressionNode  will have string type by default and in this cases I have error : 'The binary operator Equal is not defined for the types 'System.Int32' and 'System.String'.'
You can reproduce it using some Enum equal operation.

[code]

[2017-09-04 07:35] esskar commented on #83
thanks. i will look into it tonight.

[2017-09-04 13:33] esskar commented on #83
@artemkuzmyk  where are the ToJson and FromJson  extensions are coming from?

[2017-09-04 13:40] artemkuzmyk commented on #83
@esskar it's from ServiceStack.Text.4.5.8

[2017-09-04 15:08] esskar commented on #83
@artemkuzmyk seems to be an issue with ServiceStack.Text then as

        [TestMethod]
        public void Test2()
        {
            Expression<Func<HttpWebResponse, bool>> predicate = be => be.StatusCode == HttpStatusCode.Accepted;
            var node = predicate.ToExpressionNode();

            var func = node.ToExpression<Func<HttpWebResponse, bool>>().Compile();
            Assert.IsNotNu

[2017-09-06 02:37] esskar commented on #83
but i will try to get to this....

[2017-09-15 04:42] BmTestE60 opened #84 "Package not working in .Net Core project"
Nuget package installed correctly but classes, extensions, namespace not visible. I tried to download sources, build and reference to dll, it's not working too
This is my .net core csproj file
`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
    <AssemblyName>MyAssemblyName</AssemblyName>
    <PackageId>MyPackageId</PackageId>
    <PackageT

[2017-09-15 10:50] esskar commented on #84
thanks. i will check that asap

[2017-09-18 11:53] fir3pho3nixx commented on #52
Closing.

[2017-09-18 11:53] #52 closed

[2017-09-27 11:05] esskar commented on #84
hey. i had no problem with the library itself. installed using nuget. it compiled as expected. there was a runtime problem, some dependencies were missing. fixed that and published a new version

[2017-09-27 11:13] esskar commented on #84
![image](https://user-images.githubusercontent.com/65206/30910589-78a0b81e-a3c4-11e7-935c-3c85857ee957.png)

[2017-09-27 12:04] esskar commented on #67
seems not relevant anymore

[2017-09-27 12:04] #67 closed

[2017-09-27 12:05] esskar commented on #72
.netcore1.1 is now supported

[2017-09-27 12:05] #72 closed

[2017-09-27 12:05] #77 closed

[2017-09-27 12:06] #71 closed

[2017-09-27 12:06] esskar commented on #66
fixed

[2017-09-27 12:06] #66 closed

[2017-10-01 07:33] Henka-Programmer opened #85 "Json.Net Newtonsoft Serializer usage in Serialize.Linq"
Could i use Json.Net as a Serializer in Serialize.Linq?

[2017-10-05 10:04] esskar commented on #85
i actually started a second repo for that, i will keep you updated

[2017-10-06 02:41] alex4998 opened #86 "Universal apps support"
I tried to install the nuget package for my universal app 14393 but it failed. Any plans to support universal platform?

Thank you

[2017-10-06 09:41] esskar commented on #86
what was the error?

[2017-10-06 10:17] esskar commented on #86
it is not so simple. give me time til the weekend

[2017-10-06 13:52] alex4998 commented on #86
Thank you for the prompt response. Let me know if I can help you with anything in this regard. Just to recap the conditions I'm trying to install the NuGet in. I have a universal app targeting platform version 14393. The project was created as "Blank App (Universal Windows) C#." I use VS2017. In the application I have a reference to Microsoft.NETCore.UniversalWindowsPlatform v5.3.3 (not the latest

[2017-10-07 09:32] esskar commented on #86
Problem is the simulation of AppDomain functionality

[2017-10-08 09:55] esskar commented on #86
looks good so far. i think i will publish next week

[2017-10-09 14:00] alex4998 commented on #86
Hm... Interesting. You mentioned AppDomain. I know AppDomain concept does not exist in UWP. I'm glad you found a way to overcome this shortage. I didn't quite understand your comment about signing. If you are asking if we sign the assemblies then the answer is no. Is it required? Looking forward to the new version on NuGet to try. Thank you.

[2017-10-10 08:05] esskar commented on #86
no prob.
the "added a commit that referenced" comments are just me adding code regarding your issue.

[2017-10-16 04:16] esskar commented on #86
version 1.4.0 is published. i was not sure about the nuget folder structur. please try it.

[2017-10-17 17:43] alex4998 commented on #86
Thank you. It compiles and simple scenarios work something like this

`            Expression<Predicate<int>> expressionIn = v => v > 10;
            ExpressionNode expressionNode = expressionIn.ToExpressionNode();

            Expression<Predicate<int>> expressionOut = expressionNode.ToExpression<Predicate<int>>();
            Predicate<int> predicate = expressionOut.Compile();

            bool

[2017-10-20 14:13] alex4998 commented on #86
Did you have a chance to look at this issue? Do you plan to do it any soon?

[2017-10-20 19:21] alex4998 opened #88 "Problems with UWP version"
I'd like to reopen issue 86 (https://github.com/esskar/Serialize.Linq/issues/86), please see comment there. UWP version behaves differently and does not work in the scenarios where .NET 4.5 version works.

Thank you

[2017-11-12 16:00] alex4998 commented on #88
Is there a chance this issue is going to be addressed? Thank you.

[2017-11-13 04:31] esskar commented on #86
can you add the sample code here, i cannot access your link.thanks

[2017-11-13 08:00] alex4998 commented on #86
I don't see a way to attach a file directly to a message. I double checked the link https://1drv.ms/u/s!An2zN5dKMyaUhNcg6EQ0L2RlIZB9bA should work. You should be able to download a zip file with the test project. If you can't what error it displays?

[2017-11-15 05:05] esskar commented on #86
it was actually a bug when showing the expression node in the debug

[2017-11-15 05:05] esskar commented on #86
will release a new version soon

[2017-11-15 05:06] #88 closed

[2017-11-24 06:02] aloisdeniel opened #90 "Support for .NET Standard"
Great work, thanks!

Having support for .NET Standard projects would be great!

As a side note, I wouldn't store binaries (`.nupkg`) into the sources.

[2017-12-11 20:46] alex4998 commented on #86
It looks like it is not updated yet. Any progress in fixing the issue?

[2017-12-13 15:07] alex4998 commented on #86
Anything?

[2017-12-21 20:24] alex4998 commented on #86
It would be nice to hear something back. Thank you.

[2017-12-26 04:16] esskar commented on #86
will try to push it tomorrow

[2018-01-06 15:57] StefH commented on #90
The best would be to restructure the whole source code to define only 1 project which supports all the frameworks from net 4.0 up to netstandard 1.1

I can make a PR for that.

[2018-01-06 16:47] esskar commented on #86
finally had time to push version 1.5.0

[2018-01-06 16:47] #86 closed

[2018-01-06 16:48] esskar commented on #74
i close this. if you can give me an example/unit-test, feel free to open it again

[2018-01-06 16:48] #74 closed

[2018-01-06 16:49] esskar commented on #83
not supported for now.

[2018-01-06 16:49] #83 closed

[2018-01-06 16:50] esskar commented on #84
finally had time to push version 1.5.0
is this still an issue?

[2018-01-06 16:51] esskar commented on #90
@StefH that would be great.

[2018-01-06 20:24] StefH commented on #90
Support for NETStandard 1.x is difficult due to `ExpressionContext` -> `AppDomain.CurrentDomain.GetAssemblies()`

This code should actually not be in this library, but should be provided by the calling application.

I'll have a look on how to solve this.

[2018-01-06 21:17] StefH opened #92 "Ignore some files from git"
- ***.nuget.props
- project.lock.json

[2018-01-07 02:57] #92 closed

[2018-01-07 09:47] StefH commented on #84
Possible also my PR solves this issue:
https://github.com/esskar/Serialize.Linq/pull/94

[2018-01-07 09:48] StefH commented on #90
See https://github.com/esskar/Serialize.Linq/pull/94

[2018-01-07 09:51] StefH opened #95 "Do not store NuGet packages in git"
Please remove the folder `src\nuget` from git.

[2018-01-17 10:09] Xelloss83 opened #96 "List deserialize with Json serializer throws"
Using this class
[code]

Following works fine:
[code]

But as soon as I change serializer to Json, I'm getting a **MissingMethodException** saying "_Constructor on type 'System.Collections.Generic.List`1[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]' not found._"

Here is the code:
[code]

[2018-01-18 06:56] esskar commented on #96
fixed it. need to push to nuget again

[2018-01-18 06:58] esskar commented on #76
can you build a unit test for that?

[2018-01-18 07:53] esskar commented on #95
fixed

[2018-01-18 07:53] #95 closed

[2018-01-18 07:54] esskar commented on #96
published, version 1.6.0 should be available soon via nuget

[2018-01-18 07:54] #96 closed

[2018-02-06 00:18] jth41 opened #98 "Is it possible to Compile a BooleanExpression Using Serialize.Linq at run time?"
Question Detailed here: https://stackoverflow.com/questions/48633582/compile-booleanexpression-using-serialize-linq-at-runtime

[2018-02-06 04:31] esskar commented on #98
You don't have to specify the generic type when calling ToExpression. Just test, if it returns an LambdaExpression.

[code]

[2018-02-06 18:52] #98 closed

[2018-02-20 14:04] SPEMoorthy opened #99 "Support :- [MS-LETSF]: LINQ Expression Tree Serialization Format"
Hi
Is this library supporting [MS-LETSF]: LINQ Expression Tree Serialization Format ?
Ref :- https://msdn.microsoft.com/en-us/library/jj131805(v=sql.105).aspx

[2018-02-22 10:54] SPEMoorthy opened #100 "NetCore11 Deserialize Not Working"
Hi.
I am Trying to execute the code in **NetCore11** version

            Expression<Func<Mfr, bool>>  Predicate = p => p.MfrId.ToString().Contains("ABC") || p.MfrName.Contains("ABC");
            ExpressionSerializer es = new ExpressionSerializer(new BinarySerializer());
            byte[] byteArr = es.SerializeBinary(Predicate);
            //Convert Back
            Expression<Func<Mfr, bool>>

[2018-02-26 16:31] esskar commented on #99
currently on vacation, i will look into this.

[2018-03-14 13:19] yatli commented on #100
We're experiencing similar problems, and @chaosddp discovered that if your assembly name differs from your package id, assembly loading will fail, here: https://github.com/esskar/Serialize.Linq/blob/b2da08d4d005aef0a02915b274223baa2aebb2e9/src/Serialize.Linq.NetCore11/Internals/AppDomain.cs#L32

Linking our issue:
https://github.com/Microsoft/GraphEngine/issues/168

[2018-03-15 01:53] chaosddp commented on #100
Or if your object's assembly does not depend on any library that the name starts with "System", then you will get same exception: https://github.com/esskar/Serialize.Linq/blob/b2da08d4d005aef0a02915b274223baa2aebb2e9/src/Serialize.Linq.NetCore11/Internals/AppDomain.cs#L52

[2018-03-16 10:47] esskar commented on #99
why is mircosoft still doing xml?
i will check my schedule and try to add it into one of the next releases.

[2018-03-20 13:54] esskar commented on #100
I just published version 1.7.0 that supports .net standard 1.3 and 2.0
does this help for you?

[2018-03-20 13:56] esskar commented on #90
I just published version 1.7.0 that supports .net standard 1.3 and 2.0
thanks @StefH for your support. had some private issues to sort out. thanks for your patience.

[2018-03-20 13:57] esskar commented on #76
i will close this issue as i need a unit test for this. reopen if you can provide one. thanks.

[2018-03-20 13:57] #76 closed

[2018-03-20 13:57] esskar commented on #84
I just published version 1.7.0 that supports .net standard 1.3 and 2.0
does this help for you?

[2018-03-20 13:57] #84 closed

[2018-03-27 07:56] SPEMoorthy commented on #100
Thanks. Let me check and update you.

[2018-03-27 08:14] esskar commented on #99
@SPEMoorthy is this a real requirement you need to support or is it just nice to have?

[2018-03-28 10:39] SPEMoorthy commented on #99
This is a nice to have requirement for our project

[2018-04-03 16:28] #90 closed

[2018-04-03 16:28] #100 closed

[2018-05-09 16:48] sdanyliv commented on #43
@esskar, in our QueryProvider we have used the following transformation:
https://github.com/linq2db/linq2db/blob/master/Source/LinqToDB/Linq/Builder/ExpressionBuilder.cs#L297
It works very well for such big filter conditions.
Exactly before serialization, just transform expression.

[2018-05-16 06:58] esskar commented on #43
@sdanyliv thanks. will look at it.

[2018-05-29 12:14] esskar commented on #43
@sdanyliv i looked further into your suggestions. do i need to adopt only your referenced function or do i also need to implement the Transform extension. i understand, that the Transform extension applies the transformation first, and if the result does not differ, goes on with the actual transformation.

[2018-06-02 08:05] esskar commented on #43
fixed with version 1.7.1
thanks for the help

[2018-06-02 08:05] #43 closed

[2018-06-02 08:40] sdanyliv commented on #43
URW, it was long way until we invented acceptable solution, so i’m glad it helped someone else.

[2018-07-19 17:00] JoelMendoza opened #101 "ToBooleanExpression"
Greetings,
This would be more of an enhancement request :)

Would it be possible to overload the ToBooleanExpression method to have a parameter for the type?

Instead of this:
[code]

I would like to do this:
[code]

Thanks!
Joel

[2018-07-21 01:44] JoelMendoza commented on #101
Disregard, I ended up creating a wrapper.  Thanks for this awesome library!

[code]

Thanks,
Joel

[2018-07-21 01:44] #101 closed

[2018-08-27 07:45] SarcoZ opened #102 "protobuf support"
protobuf lamda serize can improve performance,can support?

[2018-09-10 12:01] nsouca opened #103 "Linq 'Contains' SerializationException"
I'm using the library for various expressions and it works great. However, when I add a condition using the keyword 'Contains', I get a SerializationException message.

[2018-09-10 12:07] nsouca commented on #103
More details:

1. Expression which I'm trying to serialize
Expression<Func<Folder, bool>> inboxTabExpression = (folder) => folder.PostIts.Any(postit => inboxIds.Contains(postit.CurrentAssignee.AssigneeId));
where inboxIds is a list of int.

2. Exception details
Error converting type: Type 'System.Collections.Generic.List`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b

[2018-09-11 04:27] esskar commented on #103
Try setting `AutoAddKnownTypesAsListTypes = true`. See Issue #96

[2018-09-11 06:08] nsouca commented on #103
AutoAddKnownTypesAsListTypes did the trick. Thanks! :)

[2018-09-11 06:09] #103 closed

[2018-10-12 18:33] KevinSWork opened #104 "BlockExpression not supported?"
I see that BlockExpression is not supported as a node type.  Is that because there are technical issues that prevent that type from being serialized, or is that just a matter of not being needed for the use cases that you've supported so far?

[2018-10-13 20:35] esskar commented on #104
hi. it is not needed. do you have a use case? any example that is not working?

[2018-10-15 12:12] KevinSWork commented on #104
`
        static void Main(string[] args)
        {
            Expression<Func<int, string>> expression = num => num.ToString();

            var parameter = Expression.Parameter(typeof(int), "num");

            BlockExpression block = Expression.Block(
                Expression.Invoke(expression, parameter));

            Expression<Func<int, string>> combinedExpression =
                Expre

[2018-10-16 17:04] esskar commented on #104
Well, by the time i wrote the library, i didn't know how to create a block expression from lambda expression, like x => ... so i was not able to test it, so i skipped it.
If you want, i can look into it.

[2018-10-16 17:12] KevinSWork commented on #104
Thanks for the response.  No need to look into it on my behalf.  You've answered my curiosity -- you're not aware of anything that would prevent the BlockExpression from being supported.  If I decide to move forward with using Serialize.Linq and find that I really need that support, I'll reach out again (potentially via a pull request).

Thanks so much for your time.

[2018-10-16 17:12] #104 closed

[2018-10-19 17:23] OlegNadymov opened #105 "Deserialize of List of Guid"
It's impossible deserialize list of Guid.
Sample:
[code]

Exception message. Text was translated from Russian by Google Translate:
[code]

[2018-10-23 12:54] OlegNadymov commented on #105
I've created PR for the issue: https://github.com/esskar/Serialize.Linq/pull/106

[2018-10-24 09:07] Mansu12135 opened #107 "Serialize object with DateTimeOffset"
Please, add DateTimeOffset as _knownTypes to SerializerBase. Thank you.

[2018-10-26 01:01] esskar commented on #107
will be released with 1.7.3.1

[2018-10-26 01:02] esskar commented on #105
will be released with 1.7.3.1
thanks for your help

[2018-10-26 01:02] #105 closed

[2018-10-26 05:50] Mansu12135 commented on #107
Thank you!

[2018-11-08 23:48] jbierman opened #110 "Deserializing Expression with a Guid as a Parameter Fails"
I'm using the latest stable build, and every time I attempt to deserialize the expression I'm getting the following error:

[code]

Thoughts?

[2018-11-09 07:32] esskar commented on #110
can you please add more details

[2018-11-13 23:37] esskar commented on #110
@jbierman any details? it looks more like an compiler bug....

[2018-11-14 21:33] #110 closed

[2019-03-01 15:29] Michael-Kalo opened #111 "Serialize.Linq and .Net Core 2.2"
Hello,

I have evaluated Serialize.Linq in a "normal" .Net 4.7.2 project, which uses WCF services and SOAP and it works great. No problems at all. Everything as expected.

Now I am trying to use Serialize.Linq in a .Net Core 2.2 project to receive expressions.

To do that, I followed your Client/Server examples from here:

Client:
https://github.com/esskar/Serialize.Linq/blob/master/src/Serialize.

[2019-03-02 00:42] esskar commented on #111
Hi Michael, let me update the examples over the weekend.

[2019-03-02 04:43] Michael-Kalo commented on #111
Hi Sascha, thanks for your reply!

That would be great. My guess is, that we have to plug in a more or less specialized, or at least configured, JSON Serializer into the ASP.Net Core pipeline. (OutputFormatters | InputFormatters)

When I look into HttpContext.Request, I can see, that the ExpressionNode object is in the body of the request. So it is there, but no deserialization.

Something like th

[2019-03-02 06:02] Michael-Kalo commented on #111
Hello Sascha,

I have tested my idea from above with XML serializers and that works.

My client looks like this:

ExpressionNode queryNode = query.ToExpressionNode();
var xmlFormatter = new XmlMediaTypeFormatter();
var response = await client.PostAsync(ai.ApiTemplate, queryNode, xmlFormatter, "application/xml", cancellationToken);

On the server side, I plugged in XML input/output formatters. It l

[2019-03-21 15:17] esskar commented on #111
sorry for the delay; i updated all the examples and added a asp.net core project that includes an API to query the persons

will publish a new version later today

[2019-03-21 15:20] #111 closed

[2019-03-21 15:20] #85 closed

[2019-04-10 09:34] gorillapower opened #113 "Serialzation Exception when passing parameter from MVC Controller Action"
Im getting an exception on `expressionSerializer.SerializeText()` when trying to serialize an `Expression`, seemingly when it contains a reference from an MVC action controller. When assign a new local variable in its place with the same value, the serialization succeeds.

**Exception Detail**
```Error converting type: Type 'WhiteBox.WebApp.Helpers.ConnectorInstanceHelper+<>c__DisplayClass4_0' can

[2019-04-10 19:51] esskar commented on #113
Hey. Thanks for opening an issue. Can you post some code, so i am able to investigate more. Thanks.

[2019-04-15 08:28] gorillapower commented on #113
Hi @esskar, sorry for delayed response. I tried to create a test case where i can consistently reproduce the issue. It still seems to be related to the naming I see in the debug view of the expression, but ive narrowed it down it bit further.

If you initiate the code with `await new TestClass().TestMethod("1231231");` the code within try-catch will throw an exception. The code after that executes

[2019-04-25 01:15] esskar commented on #113
@gorillapower i fixed it; will push new version by tomorrow

[2019-04-25 06:38] esskar commented on #113
I just pushed version 1.8.0 via nuget. Can you please test?

[2019-04-25 07:17] gorillapower commented on #113
@esskar, thanks so much or the response and update. It seems that im still getting an exception running the test code above.

![image](https://user-images.githubusercontent.com/8879065/56716495-d4f37580-673a-11e9-9ff5-1f3f439a58ef.png)

```at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source, Func`2 predicate)
   at Serialize.Linq.Factories.TypeResolverNodeFactory.TryGetConstantValueFrom

[2019-04-25 12:30] esskar commented on #113
Is there something else, because if i run this in a console app, it runs without problems

![image](https://user-images.githubusercontent.com/65206/56735738-95428300-6766-11e9-841b-0a7e10b11ef9.png)

[2019-04-25 12:44] gorillapower commented on #113
Hi Sascha,

For me the exception is caught and writes "Exception Thrown". Does the code
not enter the Catch()?

On Thu, 25 Apr 2019 at 14:30, Sascha Kiefer <notifications@github.com>
wrote:

[2019-04-25 13:01] esskar commented on #113
I just pushed version 1.8.1 to nuget

[2019-04-25 13:48] gorillapower commented on #113
Working! thanks so much

[2019-04-25 13:48] #113 closed

[2019-08-13 15:06] manuprendlair opened #116 "Help need to use binary serializater"
Hello,

I would like to serialize an expression with your library:
I found an example with the jsonserializater but not with BinarySerializer.
I try to change this example :

[code]
with
` var serializer = new ExpressionSerializer(new BinarySerializer());`

but this not working like that...

Could you give a very simple example to use the BinarySerializer ?

Thanks,
Emmanel, France.

[2019-08-14 07:18] manuprendlair commented on #116
Answer to myself, if it could help somebody :

[code]

[2019-08-14 07:19] #116 closed

[2019-08-22 05:50] esskar commented on #116
Exactly, you cant serialize expressions as text with a binary serializer.

[2019-08-28 04:37] JasonKStevens opened #117 "Support for Anonymous Types"
Problem
I'm using your library to write an IQbservable for EventStore and it would make all the difference if it could support anonymous types.  Currently, when I create an anonymous type like say, `.Select(e => new { data = e.Data })`, I get the following error: `System.Exception: Unsupported linq expression: Failed to serialize '<>f__AnonymousType0'1`
EDIT: I need to do more testing because it s

[2019-08-28 16:13] jgauffin opened #118 "Minimal serialization for lambda expressions"
Is it possible to deserialize the output from ExpressionNode.ToString() to create an expression again for simple lambda expressions?

I got the following flow:

1. The library user defines a filter for a type: `AddFilter<MyEntity>(x=>x. Age < 10);`
2. The lambda expression is sent to a backend using `filter.ToExpressionNode.ToString()`
3. In the backend I want to deserialize the expression again.

[2019-08-29 19:45] esskar commented on #117
The library does not use Newtonsoft.Json, but the .net framework json serializer.
if can up with a pull request, i am more than happy to merge it.
Not sure if i will have time in the near future to look at it.

[2019-08-29 19:46] esskar commented on #118
Can you add a minimal example?

[2019-08-30 00:42] JasonKStevens commented on #117
Okay great I'll look into it, thanks for the response.

On Fri, 30 Aug 2019 at 07:45, Sascha Kiefer <notifications@github.com>
wrote:

[2019-09-03 06:41] jgauffin opened #119 "Support for IndexExpression"
**Is your feature request related to a problem? Please describe.**

I have an expression that uses a dictionary. But I can't serialize it as Serialize.Linq do not support [IndexExpression](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.indexexpression?view=netframework-4.8).

**Describe the solution you'd like**

Suport for `IndexExpression` so that something like:

`Expressio

[2019-09-03 13:21] esskar commented on #119
@jgauffin See my commit and the new unit test that comes with it. Your example works. Can you provide a test that is not working for you?

[2019-09-03 15:56] jgauffin commented on #119
Thank you for the quick reply.

Here is a modified test:
https://gist.github.com/jgauffin/090bef80b59d3b20cca6a3758705b62e

It's when I use my visitor that it fails.

[2019-09-03 16:50] esskar commented on #119
this will not work; even if i add support for IndexExpression, CultureInfo will not be serializable

https://gist.github.com/jgauffin/090bef80b59d3b20cca6a3758705b62e#file-issue119-cs-L121

[2019-09-03 17:02] jgauffin commented on #119
I can get rid of the culture. I've been playing around a lot to try to get everything work, so the code might contain things that are not required.

[2019-09-03 20:25] esskar commented on #119
ok, i think i made it work (without CultureInfo).
Can you check it before i release it to nuget?

[2019-09-08 14:00] esskar commented on #119
@jgauffin any chance to test it or do you need a prerelease as nuget?

[2019-09-10 17:49] jgauffin commented on #119
yes, I will check tomorrow. thanks!

[2019-09-11 21:37] limefrogyank opened #120 "Serialization broken in Blazor client-side (wasm/mono)"
**Describe the bug**
Serialization fails under Blazor client-side.  I think this is because Mono doesn't have System.Runtime.Serialization stuff.  I had to create my own `IJsonSerializer` implementation using Newtonsoft.Json and it worked.

**To Reproduce**
Steps to reproduce the behavior:
Create a client-side blazor app and try to serialize an expression with `JsonSerializer`.  It will fail with

[2019-09-11 21:49] limefrogyank commented on #120
scratch the workaround... it's not deserializing yet.

[2019-09-18 17:13] jgauffin commented on #119
It works fine. Thank you for the help!

[2019-10-02 10:13] Mansu12135 opened #121 "Problem with deserializing DateTime property"
Hi,

We use your library for serializing and deserializing our queries. It works like a scharm, thank you. But our service are located in different time zone from our clients. From this reason when we deserialize their query datetime fields has incorrect value. We think it's problem in different time zone. Can you help us resolve this issue.

Thank you.

[2019-10-02 17:47] esskar commented on #121
Hi @Mansu12135 , thanks for using the library.
Well, you should always use UTC for datetime values, or even better, use [DateTimeOffset](https://docs.microsoft.com/en-us/dotnet/api/system.datetimeoffset?view=netframework-4.8) instead of `DateTime`

[2019-10-02 17:57] Mansu12135 commented on #121
Hi @esskar , I understand you. When we need to store date format we use DateTimeOffset. But in our case, user set date range for report, we need to transfer DateTime. But it does not work correctly on server side.

[2019-10-02 21:54] esskar commented on #121
But still, i think your users need to send timestamps as UTC... but anyways, i think it has nothing to do with any problem of the library.

[2019-10-02 21:54] #121 closed

[2019-10-02 21:56] esskar commented on #120
thanks for the update.

[2019-10-02 21:56] #120 closed

[2019-10-02 21:59] esskar commented on #118
Closed due to inactivity. @jgauffin if you still need help, try adding more information to what you want/expect. thanks

[2019-10-02 21:59] #118 closed

[2019-10-02 22:01] esskar commented on #117
Closed due to inactivity. @JasonKStevens  if you still need help, feel free to reopen/comment.

[2019-10-02 22:01] #117 closed

[2019-10-02 22:02] #102 closed

[2019-10-02 22:02] #99 closed

[2019-10-03 10:26] Mansu12135 commented on #121
You are right, we changed all DateTime variable to UTC kind. After that all works correct. Thank you.

[2019-10-15 07:20] Tewr opened #122 "Question on usage: Best practices on generic invoke ?"
Hello,

First of all, congratulations on a really awesome and impressive lib. Works like a charm.

I am doing a proof of concept for developing a remoting-like API. It's a bit exotic, but basically IPC with dot net in both ends. I am looking for the best way of invoking an expression on a remote without explicitly passing the delegate signature (as it's already in the `ExpressionNode`).

I am usin

[2019-12-02 10:43] GoNextGroup opened #123 "SerializeText do not serialize enums"
Hello.

I have a problem with serialization of Expressions on POCO objects with Enums in the Expression Body.

For example, the simple expression under the class User throw an exception:
**Error converting type: Type 'EFCoreDataModel.DataEnums.Users.ClientType' with data contract name 'ClientType:http://schemas.datacontract.org/2004/07/EFCoreDataModel.DataEnums.Users' is not expected. Add any type

[2019-12-02 11:40] GoNextGroup commented on #123
My code fault, sorry. Closed.

[2019-12-02 11:40] #123 closed

[2019-12-08 01:57] GoNextGroup opened #124 "Problem with deserialization of ICollection<T> typed"
Each time I try to serialize/deserialize Expression like this:

`e => request.Ids.Contains(e.Id) & e.UserId == request.Id`

where `Ids` is a `ICollection<Guid>` and `Id`, `UserId` are Guids, I get an error on deserialization:

`Constructor on type 'System.Collections.Generic.ICollection`1[[System.Guid, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]' not

[2020-01-12 00:21] pvanroos opened #125 "Support for asp.net core 3.1"
Do you plan on supporting 3.1?

[2020-01-12 00:49] GoNextGroup commented on #125
I have it works well in all of my ASP.NET Core 3.1 projects. What problems do you have?

[2020-01-17 23:43] pvanroos commented on #125
You're right.  It works great in my project too.  Sorry I opened this and wasted your time.

[2020-01-17 23:43] #125 closed

[2020-01-19 15:40] GoNextGroup commented on #125
Nevermind. I hope, the author of this project will come back and continue developing it - there are some problems still here (for example, with interfaces).

[2020-01-19 15:49] pvanroos commented on #125
I agree.  I'm interested in how you are using it.  I have built a couple of Blazor web apps that connect to an AspNet Core 3.1 web api service.  It's great to be able to pass the Linq queries from these apps down through the stack.  The persistence store I use is a CosmosDb instance where I use the GetItemLinqQueryable construct to pass the expression body to and get only what was requested.  Then

[2020-03-10 19:25] esskar commented on #124
What serializer are you using? see commit that it can work; b9f78777c28789878f172db1c23e01024a76e849

Please show code to reproduce your finding

[2020-03-10 19:32] esskar commented on #122
Sorry for the delay; haven't the time i wanted to take care of my github libs.
Are you expecting lots of different expressions, or do they all look somewhat similar?
If you are expecing the same expressions more often you may want to cache the result of `Compile()` by expression and reuse it for performance.

[2020-03-10 19:33] #119 closed

[2020-03-16 09:55] #124 closed

[2020-03-16 09:56] #122 closed

[2020-04-16 08:56] mRmEEeZ opened #126 "MongoDb.Bson.ObjectId problem"
**Describe the bug**
default JsonSerializer can't serialize ObjectId struct type when a => a.Id

**To Reproduce**
[code]
and it shows this error:

**Expected behavior**
should be serialized normally.

**Desktop (please complete the following information):**
 - Windows 10 , VS 2019

[2020-04-17 09:06] esskar commented on #126
Hi,

it's not a bug, just try adding the missing types as known types

```serializer.AddKnownType(typeof(MongoDB.Bson.ObjectId));```

[2020-05-06 06:46] #126 closed

[2020-10-22 18:41] Slacquer opened #127 "bug when using expressions that contain dynamic"
Hello, great code, but there is a problem that i can not seem to figure out how to deal with.

// This works fine.
Expression<Func<SomeModel, SomeResponse>> d = f => new SomeResponse{Foo=1};

// This causes a 'Couldnt not serialize dynamic`2 error, when **DESERIALIZING**
Expression<Func<SomeModel, dynamic>> d = f => new {Foo=1};

// IE:
var es = new ExpressionSerializer(new JsonSerializer());
 //e

[2020-12-01 15:53] kitog opened #128 "Question on LambdaExpression serialization"
I'm trying to understand why the following examples behaves as it does:

    var nowProp = typeof(DateTime).GetProperty(nameof(DateTime.Now));
	var trueClause = Expression.Call(Expression.MakeMemberAccess(null, nowProp), "ToString", Type.EmptyTypes);

	var falseClause = Expression.Constant("N/A", typeof(string));
	var condition = Expression.Constant(true);
	var conditional = Expression.Condition(c

[2020-12-08 21:11] mRmEEeZ opened #129 ".net 5.0 problem"
Hello,

can you please update the package to work with .net 5.0 as a nuget included in a razor class library in order for it to work with blazor hosted core ?

thannk you

[2020-12-09 12:26] esskar commented on #129
will do. Thanks for the report

[2020-12-10 22:22] esskar commented on #127
Thanks for the report. The problem is, that the deserializing side does not know that specific dynamic type. dynamic types are internal types that are dynamically created. as of right know, unknown type are not yet supported.

[2020-12-10 22:50] esskar commented on #128
Have a look at the serialized text (`Console.WriteLine(serializedLambda)'):

[code]

you want something like that (it is not the same, but the this way, the Now is not called during the expression build.

[code]

[2020-12-10 22:50] #128 closed

[2020-12-12 15:44] #129 closed

[2020-12-12 17:06] esskar commented on #129
I published version 2.0.0 to nuget

[2021-04-09 09:13] Karine-GitHub opened #134 "Serialize expression when it is a property of a class?"
I try to POST a complex object that contains expressions but I'm facing an issue during deserialization in my endpoint.

It's a .Net Core 3.1 project. I'm using the version 2.0.0 of your package, the Microsoft.AspNetCore.Mvc.NewtonsoftJson package with version 3.1.13 for the WebAPI and the Newtonsoft.Json package with version 12.0.3.

**The exception details**:
- Exception : System.ArgumentExcepti

[2021-08-04 22:14] kyleherzog opened #137 "Cannot Serialize Expression Converted From Func"
**Describe the bug**
If I have a `Func<object, object>` and convert it to an `Expression<Func<object, object>>` it will throw a `SerializationException` when calling `ExpressionSerializer.SerializeText()`.

**To Reproduce**
[code]

https://dotnetfiddle.net/mD1G6Y

**Expected behavior**
To serialize the expression.

[2021-09-18 01:58] qidong5566 opened #139 "How to Revice Post arguments in core 3.1"

[2021-09-30 20:50] #139 closed

[2021-12-22 09:16] esskar commented on #137
I have some time over the holidays; will have a look. Thanks for the issue and using the library.

[2021-12-22 09:16] esskar commented on #134
I have some time over the holidays; will have a look. Thanks for the issue and using the library.

[2021-12-27 23:12] esskar opened #142 "Change of License"
Hello Contributors,

I want to change to license of the library to MIT. To be able to do this, I need the permission of the contributors.
Can you please answer with YES, if you agree to licence change, and NO (maybe with a reason), if you not agree with the change.
Thank you very much,

@StefH @OlegNadymov @vcaraulean @artemnf @vsoldatkin @gldfdp @jogibear9988

[2021-12-28 06:45] StefH commented on #142
YES

[2021-12-28 07:41] jogibear9988 commented on #142
yes

[2021-12-28 08:40] gldfdp commented on #142
Yes

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: Jochen Kühner ***@***.***>
Sent: Tuesday, December 28, 2021 8:41:35 AM
To: esskar/Serialize.Linq ***@***.***>
Cc: Grégoire Larreur ***@***.***>; Mention ***@***.***>
Subject: Re: [esskar/Serialize.Linq] Change of Licence (Issue #142)

yes

—
Reply to this email directly, view it on GitHub<https://g

[2021-12-28 23:46] vsoldatkin commented on #142
Yes

[2021-12-29 03:56] OlegNadymov commented on #142
Yes

[2021-12-29 23:48] esskar commented on #137
Even tough `Func<object, object>` statements look like expressions, they are not expressions. So they cannot be serialised.
The workaround shown by @oahrens is also not a equivalent to the problem because it is only using a call expression that may or may not be the same after deserialisation.

[2021-12-29 23:48] #137 closed

[2021-12-29 23:56] esskar commented on #134
You are using NewtonsoftJson to serialise/deserialise; which is not supported.
As shown in the example REST API, just accept `ExpressionNode` from body and convert to you expression afterwards

https://github.com/esskar/Serialize.Linq/blob/master/src/Serialize.Linq.Examples/Serialize.Linq.Examples.RestApi/Controllers/PersonController.cs#L38

[2021-12-29 23:56] #134 closed

[2022-01-02 00:39] vcaraulean commented on #142
Yes

[2022-01-06 22:49] cjvanwyk3 opened #146 "Expression.Default not supported in serialization"
Hello,

I have some expressions that use Expression.Default and they are not serializing.  Here is a simplistic example to re-create the issue:

        var defaultValue = Expression.Default(typeof(int));
        var expressionSerializer = new Serialize.Linq.Serializers.ExpressionSerializer(new Serialize.Linq.Serializers.JsonSerializer());
        var serialized = expressionSerializer.SerializeTex

[2022-01-08 16:26] #142 closed

[2022-01-08 17:32] esskar commented on #146
It think its fixed. Will provide a new nuget package later.
thanks for the issue report

[2022-05-12 15:03] YotamEN opened #151 "Question about deserialization security:"
Hi! Firstly, great job on this NuGet :)
I'm serializing a Expression<Func<MyClass, bool>> type and my question is about deserialization:
Is there a way to determine the _known_types list? Or another way to make sure deserialization will only allow the types I am using?
For example, in .Nets BinaryFormatter you have SerializationBinder to control the types used during deserialization, which is help

[2022-08-18 10:10] GarciaKompact opened #155 "Need your help with other issue"
Hi @esskar sorry to contact you by this way, but could not find any other way... If you can't help me or if you find this anoying, feel free to delete this post, I understand.

So, to summarise I need to build and app that will work with the Intermec PB51 printer and I can't find any ESC /P reference manual from Intermec, then I found your post:
https://stackoverflow.com/questions/33646515/interme

[2022-08-18 14:30] GarciaKompact commented on #155
.

[2022-08-18 14:30] #155 closed

[2022-08-19 18:23] esskar commented on #155
Hi, no worries. But i can't help you here. I did the implementation way back for a customer, and i have no longer the documentation.

[2022-08-26 15:12] FLAMESpl opened #156 ""System.InvalidOperationException: Sequence contains no matching element" during SerializeText"
**Describe the bug**
Method `ExpressionSerializer.SerializeText(expression)` is throwing `InvalidOperationException: Sequence contains no matching element`

**To Reproduce**

Run following console application with `Serialize.Linq` in version `2.0.0`

[code]

**Expected behavior**
Expression serialized to json is printed to the console.

**Desktop (please complete the following information):**
 - O

[2022-08-28 18:32] esskar commented on #156
Hi, thanks for the issue.
As `values` is private, you need to activate `AllowPrivateFieldAccess`

[code]

[2022-08-28 19:07] esskar commented on #151
Nope. I have not.

[2022-09-07 16:33] #156 closed

[2022-10-16 20:33] xeo545x39 opened #157 "Known type cannot be an interface"
**Describe the bug**
When invoking AddKnownTypes method a `TypeLoadException`  is thrown, because `Nullabe<T>` accepts only structures. There should not be `IsClass` check, but `IsStruct`-like method.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass an interface type to AddKnownTypes method

**Expected behavior**
A type is added successfully.

**Screenshots**
![image](https://user-images

[2022-10-27 09:50] jacodv opened #158 "Error converting type: Bug or implementation issue - please help"
**Describe the bug**
We have a generic report generator, it receives `IQueryable<T>` and OData query string.  I need to change it to accept `IQueryable<T>` and `Expression`.

The report engine must execute
`var results = records.Provider.CreateQuery<T>(expression);`

Below is a simple test

**To Reproduce**
- Dotnet 6
[code]

**Expected behavior**
Filter the records from 4 to 2

**Screenshots**
![

[2022-10-27 10:23] jacodv commented on #158
I have also tried a simple type with the `DataContract` attribute.  But adding the `[Datacontract]` attribute to all our models are not an option if that was the requirement.

** Simple Type **
[code]
**Updated Test**
[code]